*{
    font-family:'Times New Roman', Times, serif
}

html{
    font-size: 16px;
}

/*style the page overall*/
body{
    background-color: white;
    padding: 50px;
    font-size: 0.8rem;
}

.pdf-flex-column{
    display: flex;
    flex-direction: column;
}

/*style the recipe name*/
h1{
    font-size: 1.8rem;
}

/*style the recipe characteristics section*/
header{

}

/*style the recipe characteristics section*/
header p{
    line-height: 14px;
    margin-right: 25px;
}


#servings{

}


#author{

}

#link{

}

#prep-time{

}

#cook-time{

}

#total-time{

}

/*style the ingredients and directions headers*/
h2{
    font-size: 1.2rem;
    margin-left: 20px;
}

/*style the subheadings*/
h3{
    font-size: 1rem;
}

/*style the ingredient and directions section of the pdf*/
#pdf-main-recipe{

}

/*style the ingredients section*/
.ingredients{
    flex: 1;
    /* margin:10px; */
}

/*style the ingredients list*/
.ingredients ul{
}

/*style the ingredients list items*/
.ingredients ul li{
    list-style-type: disc;
}

/*style the directions section*/
.directions{
    flex: 2.5;
    /* margin: 10px; */
}

/*style the directions list*/
.directions ol{
}

/*style the directions list items*/
.directions ol li{
    list-style-type: decimal;
}