
*{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

body{
    background-color: #ebded4;
    padding: 20px;
}
ol, ul{
    padding: 20px;
}

h1{
    color: #e8efff;
    text-align: center;
    width: 100%;
    height: 40px;
    padding: 20px;
    font-size: 24px;
    background-color: #0d2d6c;
    margin-top: auto;
    margin-bottom: auto;
}

h2, h3, p{
    color: #0d2d6c;
}


li{
    font-size: 12px;
}

p {
    background-color: #9cb6f2;
    border-radius: 50px;
    border: 2px solid #0d2d6c;
}

ul, ol {
    background-color: #e8efff;
    border: 2px solid #0d2d6c;
    border-radius: 38px;
    width: 80%;
}

ul li{
    list-style-type: disc;
    list-style-position: inside
}

ol li{
    list-style-type: decimal;
    list-style-position: inside;
}

/* .ingredients{
    font-family: 'Courier New', Courier, monospace;
}

.directions{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
} */

header{
    display: flex;
    flex-wrap: wrap;
}

header p{
    width: 20vw;
    text-align: center;
    padding: 5px;
    align-self: center;
    justify-content: center;
    font-size: 12px;
}