/* @import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 20px;
    background-image: url('https://lh3.googleusercontent.com/d/1zMcC7u3VWXSnQ7kY_Ymqb8uSkuu98O-m=w816-h1056?authuser=0');
    background-position: contain;

}

h1{
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    padding-left: 50px;
}

h2{
    color: #69418b;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 13px;
}

img{
    width: 200px;
    justify-content: center;
}

ul, ol {
    padding-left: 0px;
}

ul li{
    list-style-type: none;
    font-size: 10px;
}

li{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

ol li{
    list-style-type: decimal;
    font-size: 10px;
}

.color-stripe{
    background-color: #69418b;
    width: 500px;
    height: 20px;
}

.flex{
    display:flex;
}

.main-recipe{
    margin-top: 80px; 
}

header{
    padding-top: 5px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 10px;
}

header > span {
    margin-left: 475px;
}

span+span{
    margin-left: 55px;
}

.ingredients {
    flex: 1.5;
    padding: 10px;
    padding-left: 50px;
}

.directions{
    flex: 3;
    padding:10px;
} */


.ingredients {
    color: purple;
}

.directions {
    color: green;
}

h3{
    color: red;
}