*{
    
}

/*style the page overall*/
body{
    background-color: #ebded4;
    padding: 20px;
}

.pdf-flex-column{
    display: flex;
    flex-direction: column;
}

/*style the recipe name*/
h1{

}

/*style the recipe characteristics section*/
header{

}

/*style the recipe characteristics section*/
header p{

}

#servings{

}

#author{

}

#link{

}

#prep-time{

}

#cook-time{

}

#total-time{

}

/*style the ingredients and directions headers*/
h2{
    
}

/*style the subheadings*/
h3{
    
}

/*style the ingredient and directions section of the pdf*/
#pdf-main-recipe{

}

/*style the ingredients section*/
.ingredients{

}

/*style the ingredients list*/
.ingredients ul{
    
}

/*style the ingredients list items*/
.ingredients ul li{
    
}

/*style the directions section*/
.directions{

}

/*style the directions list*/
.directions ol{
    
}

/*style the directions list items*/
.directions ol li{
    
}